In [26]:
# Create Online shop stock using lists and dictionaries

products = [{
    'id': 'W-09',
    'name': 'tango shoes',
    'price': 200,
    'categories': 'ladies'  
}, {
    'id': 'W-09',
    'name': 'tango shoes',
    'price': 230,
    'categories': 'ladies'  
}, {
    'id': 'W-01',
    'name': 'lacey dress',
    'price': 400,
    'categories': 'women\'s clothing'  
}, {
    'id': 'W-19',
    'name': 'hair band',
    'price': 20,
    'categories': 'ladies accessories'  
}, {
    'id': 'W-29',
    'name': 'earring',
    'price': 50,
    'categories': 'ladies accessories'  
}, {
    'id': 'W-15',
    'name': 'nail polish',
    'price': 5,
    'categories': 'ladies accessories'  
}, {
    'id': 'W-13',
    'name': 'Men\'s suit',
    'price': 500,
    'categories': 'men\'s wear'  
}]

## Analysing Online shop stock

### 1.Find the most expensive item

In [13]:
most_expensive_product = {}
for product in products:
    price = product['price']
    if price >= most_expensive_product.get('price', 0):
        most_expensive_product = product

most_expensive_product

{'id': 'W-13', 'name': "Men's suit", 'price': 500, 'categories': "men's wear"}

### 2. Find the most expensive Ladies accessories

In [27]:
most_expensive_product = {}
for product in products:
    price = product['price']
    cat = product['categories']
    if price >= most_expensive_product.get('price', 0) and cat == 'ladies accessories':
        most_expensive_product = product

most_expensive_product

{'id': 'W-29',
 'name': 'earring',
 'price': 50,
 'categories': 'ladies accessories'}

### 3. Find the most expensive item per category

In [28]:
ladies = []
for product in products:
    cat = product['categories']
    if cat == 'ladies':
        ladies.append(product)
ladies

[{'id': 'W-09', 'name': 'tango shoes', 'price': 200, 'categories': 'ladies'},
 {'id': 'W-09', 'name': 'tango shoes', 'price': 230, 'categories': 'ladies'}]

### 4. Count the number of items per category

In [30]:
result = {}
for product in products:
    cat = product['categories']  
    result[cat] = result.get(cat, 0) + 1

result

{'ladies': 2, "women's clothing": 1, 'ladies accessories': 3, "men's wear": 1}

### 5. Calculate the total sum of prices of products

In [32]:
product_prices = []
for product in products:
    product_prices.append(product['price'])
product_prices

[200, 230, 400, 20, 50, 5, 500]

In [51]:
# Sum of all product prices
sum(product_prices)

1405

### 6. List all products (option 1)

In [34]:
# Create a list of all products in stock
product_names = []
for product in products:
    product_names.append(product['name'])
product_names

['tango shoes',
 'tango shoes',
 'lacey dress',
 'hair band',
 'earring',
 'nail polish',
 "Men's suit"]

### 6. List all products (option 2)

In [55]:
for product in products:
    product_name = [product['name']]
    print(product_name)

['tango shoes']
['tango shoes']
['lacey dress']
['hair band']
['earring']
['nail polish']
["Men's suit"]

### 7. List all product categories

In [35]:
product_categories = []
for product in products:
    product_categories.append(product['categories'])
product_names

['ladies',
 'ladies',
 "women's clothing",
 'ladies accessories',
 'ladies accessories',
 'ladies accessories',
 "men's wear"]

### 8. List all products and their categories

In [50]:
# expected- dictionary with product details
for product in products:
    product_details = [product['name']],[product['categories']]

    #roduct_details.append(product['name'] + (product['categories']))
    print(product_details)

(['tango shoes'], ['ladies'])
(['tango shoes'], ['ladies'])
(['lacey dress'], ["women's clothing"])
(['hair band'], ['ladies accessories'])
(['earring'], ['ladies accessories'])
(['nail polish'], ['ladies accessories'])
(["Men's suit"], ["men's wear"])